@model WebShellAsp2.Models.CommandHistory

@{
    ViewData["Title"] = "DetailsView";
}

<h1>DetailsView</h1>

<div>
    <h4>CommandHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommandId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommandId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUsing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUsing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommandAnswer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommandAnswer)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
