@model WebShellAsp2.Models.CommandHistory

@{
    ViewData["Title"] = "DetailsView";
}

<h1>Подробности</h1>

<div>
    <h4>Выбранная команда</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Command.CommandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Command.CommandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUsing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUsing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommandAnswer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommandAnswer)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="History" asp-controller="Home">Вернуться к списку команд</a>
</div>
